.asset {
  height: 48px;
  padding: 12px 10px;
  display: grid;
  /* width: 100%; */
  grid-template-columns: 32px minmax(200px, 1fr) minmax(48px, max-content) minmax(48px, max-content);
  margin-top: 5px;
  padding: 8px;
  /* margin-bottom: 20px; */
	/* padding-left: 10px; */
	/* padding-right: 10px; */
  column-gap: 8px;
  align-items: center;
}

.asset__shadowed { 
  height: 48px;
  padding: 12px 10px;
  display: grid;
  margin-top: 5px;
  color:white;
  border-radius: 30px;
  /* width: 100%; */
  grid-template-columns: 32px minmax(200px, 1fr) minmax(48px, max-content) minmax(48px, max-content);
  background-color: skyblue;
  padding: 8px;
  /* margin-bottom: 20px; */
	/* padding-left: 10px; */
	/* padding-right: 10px; */
  column-gap: 8px;
  align-items: center;
}

.asset:hover {
  border: 0 0 10px 10px skyblue;
}

.assetselected {
	background-color: skyblue;
  color: white;
    /* padding: 10px; */
	/* padding-left: 10px; */
	/* padding-right: 10px; */
  border-radius: 30px;
}

.icon {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: grey;
  object-fit: cover;
  text-align: center;
  font-size: 9px;
  font-weight: 500;
  overflow: hidden;
}

.title {
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.value {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.number {
  font-size: 12px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}



.CurrentStatus {
  /* margin: 20px; */
  padding: 15px;
  border: 2px solid skyblue;
  border-radius: 30px;

}

.Owned {
  font-size: larger;
}

